.rojo{
    background-color: red;
    text-align: center;
    color: white;
    font-size: 25px;
}

.blue {
    color: blue
  }
  .yellow {
    color: yellow
  }
  .purple {
    color: purple
  }
  .red {
    color: red
  }
  .green {
    color: green
  }
