<div class="container">
 
	<h2>Prácticas</h2>
	<hr>
	<ul class="list-group">
    	<li routerLink="/" class="list-group-item">INICIO</li>
    	<li routerLink="/contador" class="list-group-item">Contador</li>
    	<li routerLink="/calculadora" class="list-group-item">Calculadora</li>
		<li routerLink="/ppt" class="list-group-item">Piedra, papel y tijeras</li>
		<li routerLink="/directivas" class="list-group-item">Directivas</li>
		<li routerLink="/gato" class="list-group-item">Gato</li>
    	</ul>

    
</div>
